<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheet.css">
</head>
<body style="text-align: center; background-color: rgb(48, 48, 48); color: white;">
  <%- include('partials/nav.ejs') %> 

      <h2>Adding a new Quote</h2>

    <form action="/admin/addQuote">

        Quote:<br>
        <textarea name="quote" id="" cols="30" rows="2"></textarea>
        <br>
        Author:<br>
        <select name="authorId" id="">
            <% authors.forEach(element => { %>
                <option value="<%-element.authorId%>"><%-element.firstName%> <%= element.lastName %> </option>
            <% }) %>
        </select>
        <br>

        Category:<br>
        <select name="category" id="">
            <% categories.forEach(element => { %>
                <option value="<%-element.category%>"><%-element.category%></option>
            <% }) %>
        </select>
        <br>

        Likes:<br>
        <input type="number" name="likes" id=""><br>

        <button name="" class="btn btn-light" style="margin-top: 1em;">Add a new Quote</button>
    </form>


</body>
</html>