<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quote Results</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheet.css">

</head>
<body style="background-color: rgb(48, 48, 48); color: white;">
  <%- include('partials/nav.ejs') %> 
  <div style="text-align: center;">

    <!-- <div class="card" style="text-align: center; background-color: rgb(48, 48, 48); color: white;"> -->
      <h1>Quotes</h1>
      <% rows.forEach(element => { %>
        <em><%- element.quote %></em>
        <br>
        - <a href="#" name="<%- element.authorId %>" id="<%- element.authorId %>"><%- element.firstName %> <%- element.lastName %> </a><br><br>
        <% }) %> 
        <!-- </div> -->
        
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="color: white; background-color: rgb(48, 48, 48);">
        <div class="modal-header justify-content-center">
          <h5 class="modal-title" id="exampleModalLabel" style="text-align: center;">Modal title</h5>
        </div>
        <div class="modal-body">
            <div id="authorInfo"></div>
        </div>
      </div>
    </div>
  </div>
        
    

  <script>
    $("a").on("click", displayAuthorInfo);

    function displayAuthorInfo(){
        let authorId = $(this).attr("id");
        let url = `${window.location.origin}/info/${authorId}`
        getData(url);
    }

    async function getData(url){
      let response = await fetch(url);
      let data = await response.json();
      console.log(data);
      // $("#authorInfo").html(data[0].authorId);
      $("#exampleModalLabel").html(`${data[0].firstName} ${data[0].lastName}`);
      $("#authorInfo").html(`<img src="${data[0].portrait}" style="width:50%; margin-left:25%;"/>`);
      $("#authorInfo").append(`<br><b>Sex:</b> ${data[0].sex}`);
      $("#authorInfo").append(`<br><b>Profession:</b> ${data[0].profession}`);
      $("#authorInfo").append(`<br><b>Country:</b> ${data[0].country}`);
      $("#authorInfo").append(`<br><b>Description:</b> ${data[0].biography}`);

      $('#exampleModal').modal('show');
    }
  </script>
</body>
</html>